

#one{
    color: blue;

}
#two{
    color: blueviolet;

}

.three{
    color: chocolatexxxzxzzZXZ;

}
input[type='text']{
    background-color: aqua;
    border-color: brown;
    border-radius: 20cm;
    border-width: 2cm;
}